img {
    border-radius: 50%;
}

#row1 {
    background-color: whitesmoke;
}

#row2,
#row3 {
    background-color: lightsteelblue;
}

#row4,
#row5 {
    background-color: lightsalmon;
}

#row6,
#row7 {
    background-color: darkseagreen;
}

#row8,
#row9 {
    background-color: burlywood;
}